* {
    font-family: sans-serif;
    padding: 0;
    margin: 0 auto;
}

body {
    background: rgb(1,13,15);
    background: linear-gradient(176deg, rgba(1,13,15,1) 19%, rgba(6,55,66,1) 76%);
}

.content-main {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    width: 80%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.title {
    display: flex;
    width: 100%;
    justify-content: center;
    font-family: 'Bebas Neue', cursive;
    font-size: 50px;
    color: #06e5ec;
    margin-bottom: 30px;
    text-align: center;

    @media (max-width: 600px) {
        font-size: 30px;
    }
}

.time {
    display: flex;
    width: 20%;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-bottom: 50px;
    margin-top: 50px;
    font-size: 50px;
    color: #ffffff;
    font-weight: bold;

}

.minutes {
    display: flex;
    font-family: 'Bebas Neue', cursive;
    justify-content: center;
    align-items: center;
}

.seconds {
    display: flex;
    font-family: 'Bebas Neue', cursive;
    justify-content: center;
    align-items: center;
}

.milliseconds {
    display: flex;
    font-family: 'Bebas Neue', cursive;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    opacity: 0.5;
}

.separetor {
    display: flex;
    font-family: 'Bebas Neue', cursive;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin-bottom: 50px;
    margin-top: 10px;
    gap: 25px;

}

.bnt {
    display: flex;
    justify-content: center;
    padding: 15px;
    width: 100%;
    background: rgba(10, 80, 97, 1);
    color: #FFF;
    cursor: pointer;
    transition: transform 0.5s;
    font-family: 'Bebas Neue', cursive;
    font-size: large;
    border-radius: 0.5em;
    text-shadow: 2px 2px 2px rgb(0, 0, 0, 0.5);
    box-shadow: 2px 2px 0 1px rgb(155, 155, 155);
    font-size: 25px;

}

.bnt:hover {
    background: rgb(38, 86, 99);
    transform: scale(1.1);

}

.bnt:active {
    box-shadow: 0 0 0 rgb(155, 155, 155) inset;

}

#pause {
    display: none;

}

#reset {
    display: none;
}